{% extends "base.html" %}
{% load static %}
{% block content %}

  <head>
    <title>시험 모드</title>
    <script>
      const uploadAudioUrl = "{% url 'submit_audio' %}";
      const csrfToken = "{{ csrf_token }}";
    </script>
    <link rel="stylesheet" type="text/css" href="{% static 'css/test_styles.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
  </head>

  <body>
    <div id="practice-container">
      <div class="question-box">
        <p id="problem-number">{{ problem_solved }} / 5</p>
        <p>다음 문장의 빈칸에 들어갈 단어를 맞혀보세요:</p>
      </div>

      <div class="sentence-box">
        <p id="sentence">{{ sentence }}</p>
        <p id="sentence-meaning">{{ sentence_meaning }}</p>
        <div id="targeted-word" style="display: none;">{{ word }}</div>
      </div>

      <!-- 녹음 버튼 (마이크 아이콘) -->
      <div class="controls">
        <button class="mic-status" id="micButton">
          <div class="mic-icon">
            <i class="fas fa-microphone"></i>
          </div>
          <div class="mic-animation"></div>
        </button>
        <div class="voice-level">
          <div class="voice-level-fill"></div>
        </div>
        <p class="status-text">마이크를 클릭하여 시작하세요</p>
        <div class="progress-bar">
          <div id="progressFill"></div>
        </div>
      </div>

      <!-- 점수 및 피드백 -->
      <div>
        <p><span id="scoreDisplay"></span></p>
      </div>

      <!-- 다음 문제 버튼 -->
      <button id="nextQuestionBtn" disabled>다음 문제</button>

    </div>

    <script src="{% static 'js/test_mode.js' %}"></script> <!-- 외부 JavaScript 파일 연결 -->
  </body>
{% endblock %}