body {
    display: flex; /* Flexbox 레이아웃 사용 */
    justify-content: center; /* 가로 중앙 정렬 */
    align-items: center; /* 세로 중앙 정렬 */
    min-height: 100vh; /* 화면 전체 높이 */
    margin: 0; /* 기본 여백 제거 */
    background-color: #f8f9fa; /* 배경색 지정 (선택 사항) */
}

.form-layout {
    border-radius: 20px;
    width: 500px;
    background-color: white; /* 흰색 배경 */
    padding: 20px; /* 내부 여백 */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* 그림자 효과 (선택 사항) */
    height: 80%;
}

.message-text{
    color: white;
}

/* 버튼 스타일 */
.btn {
    font-size: 1.25rem; /* 폰트 크기 키우기 */
    color: black; /* 검정색 글씨 */
    border: 1px solid #ced4da; /* 테두리 추가 (선택 사항) */
    font-weight: 500;
}

.btn:hover {
    color: rgb(255, 255, 255); /* 호버 시에도 글씨가 검정색 유지되도록 */
}