faiss-cpu==1.9.0
fsspec==2024.10.0
httpx==0.27.2
huggingface-hub==0.26.2
jsonpatch==1.33
jsonpointer==3.0.0
langchain==0.3.7
langchain-core==0.3.18
langchain-text-splitters==0.3.2
librosa==0.10.2.post1
matplotlib==3.7.1
numpy==1.26.4
pdfminer.six==20231228
pdfplumber==0.11.4
pandas==2.2.3
PyMuPDF==1.24.13
pydantic==2.9.2
pytz==2024.2
scikit-learn==1.5.2
scipy==1.13.1
sentence-transformers==3.3.0
spacy==3.8.2
torch==2.5.1
transformers==4.46.2
tqdm==4.67.0