{% extends "base.html" %}
{% load static %}

{% block content %}
<link rel="stylesheet" href="{% static 'css/vocab_styles.css' %}">
<div class="container">
    {% comment %} <button class="random-category-btn" onclick="location.href='{% url 'vocab_random_category' %}'">
        <i class="fas fa-random"></i> 새로운 카테고리 뽑기
    </button> {% endcomment %}
    <div class="category-section">
        {% for category, count in category_counts.items %}
            <h2>카테고리 {{ category }}</h2>
        {% endfor %}
    </div>

    <button class="start-btn" onclick="location.href='{% url 'vocab_mode' %}'">
        <i class="fas fa-play"></i> 시작하기
    </button>
</div>
{% endblock %}
