<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>단어장</title>
</head>
<body>
    
    <div class="container">
        <button onclick="location.href='{% url 'index' %}'">돌아가기</button>
        <h1>단어장</h1>
        <div class="word-list">
            <ul>
                {% for word in words %}
                    <li>
                        <strong>단어:</strong> {{ word.text }}<br>
                        <strong>뜻:</strong> {{ word.meaning }}<br>
                        <strong>예문:</strong> {{ word.example_sentence }}<br>
                        <strong>예문 뜻:</strong> {{ word.example_translation }}
                    </li>
                {% endfor %}
            </ul>
        </div>
    </div>
</body>
</html>
